{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static 'main.css' %}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
          <h1 class="display-6 fw-bold">Productos </h1>
<form action="{% url 'nuevo_producto' %} " method="POST" class="card card-body bg-secondary">
{% csrf_token %}
    <label for="nombre">Ingrese el nombre del producto</label>
    <input type="text" name="nombre" placeholder="Escribe el nombre del producto" class="from-control mb-2">
    <label for="codigo">Ingrese su codigo</label>
    <textarea name="codigo" rows = "3" placeholder="Escribe un codigo" class="from-control mb-2"></textarea>
    <label for="precio">Ingrese el nombre del precio</label>
    <input type="text" name="precio" placeholder="Escribe el precio del producto" class="from-control mb-2">
    <label for="cantidad">Ingrese el cantidad del producto</label>
    <input type="text" name="cantidad" placeholder="Escribe la cantidad del producto" class="from-control mb-2">
    <label for="marca">Ingrese el marca del producto</label>
    <input type="text" name="marca" placeholder="Escribe la marca del producto" class="from-control mb-2">
    <button class="btn btn-success">Guardar</button>
</form>

{% for Producto in producto %}
            <div class="list-group">
                <div class="card card-body bg-secondary text-light d-flex flex-row justify-content-between mt-2">
                    <h3>{{Producto.nombre}} </h3>
                    <p>{{Producto.codigo}}</p>
                    <p>{{Producto.precio}}</p>
                    <p>{{Producto.cantidad}}</p>
                    <p>{{Producto.marca}}</p>
                </div>
                 <form action="{% url 'eliminar_producto' Producto.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Eliminar</button>
                </form>
                <form action="{% url 'editar_producto' Producto.id %}" methods="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary">Editar</button>
                </form>

                </form>
              </div>
{% endfor %}



</body>
</html>